<!-- <p>book-list works!</p>
{{Active | isActive}} -->

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for (book of books; track book.bookId) {
            <tr (click)="clicked(book)">
                <td>{{book.name}}</td>
                <td>{{book.isActive | isActive}}</td>
            </tr>
          } @empty {
            Empty list of books
          }
        
    </tbody>
</table>

<h1>Selected Book Details</h1>
<td>{{selectedBook().bookId}}</td>
<td>{{selectedBook().name}}</td>
<td>{{selectedBook().isActive | isActive}}</td>
<td>{{selectedBook().description}}</td>
<td>{{selectedBook().author?.name}}</td>



  
  
