################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Full Stack project/BookStore/.vs/BookStore/DesignTimeBuild/.dtbcache.v2
